.text {
    font-size: 60px;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
    font-family: "Monospace";
}

.paragraph{
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}
